body {
	padding-top: 50px;
	padding-bottom: 40px;
}
.container{
	margin-left: 40px;
	margin-right: 10px;
}
input[type="text"]{
	-webkit-box-shadow: inset 0 0px 0px;
}

.knobwell{
	text-align:center;
	float:left;
	width:240px;
	height: 240px;
	color:rgb(135, 206, 235);
	margin: 10px;
	padding: 7px;
}


h3{
	padding: 0px;
	margin: 10px;
	line-height: 25px;
}

